main {
  padding: $paddingGlobal;

  section {
    padding: $paddingGlobal;

    p {
      padding: $paddingGlobal;
    }

    .proyectos {
      display: flex;
      justify-content: space-around;
      text-align: center;

      div {
        width: 100px;
        height: 150px;
        background-color: $colorSecindario;
        border-radius: 25px;
      }
    }
  }
}
