body {
  background-color: black;
  color: aliceblue;
}

div * {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 2px solid whitesmoke;
}

.container {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
}

.container-2 {
  display: flex;
  flex-wrap: wrap-reverse;
  /*  flex-wrap: wrap; */
}

.container-2 div {
  background-color: brown;
  font-size: 40px;
  text-align: center;
}

.container-3 {
  display: flex;
  flex-flow: row wrap;
}

.container-3 div {
  background-color: rgb(42, 165, 151);
}

.container-4 {
  display: flex;
  background-color: rgb(29, 29, 29);
  justify-content: space-evenly;
}

.container-4 div {
  background-color: rgb(142, 165, 42);
}

.container-5 {
  margin-top: 10px;
  height: 300px;
  display: flex;
  background-color: rgb(29, 29, 29);
  justify-content: space-between;
  align-items: center;
}

.container-5 div {
  background-color: rgb(151, 42, 165);
}

.container-6 {
  margin-top: 30px;
  height: 600px;
  display: flex;
  background-color: rgb(29, 29, 29);
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;

  /*  row-gap: 100px; */
  /* gap: 50px; */
}

.container-6 div {
  background-color: rgb(165, 42, 85);
  width: 150px;
  height: 150px;
}

.container-7 {
  margin-top: 30px;
  height: 300px;
  display: flex;
  background-color: rgb(29, 29, 29);
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 100px;
}

.container-7 div {
  background-color: rgb(132, 42, 165);
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.flex-container .item {
  background-color: rgb(42, 81, 165);
  font-size: 40px;
  text-align: center;
}

.item:nth-of-type(1) {
  order: 3;
}
.item:nth-of-type(2) {
  order: 4;
}
.item:nth-of-type(3) {
  order: 1;
}
.item:nth-of-type(4) {
  order: 5;
}
.item:nth-of-type(5) {
  order: 6;
}
.item:nth-of-type(6) {
  order: 2;
}

.container-8 {
  margin-top: 10px;
  height: 300px;
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.container-8 div {
  background-color: rgb(161, 165, 42);
  font-size: 40px;
  text-align: center;
}

.container-8 .item-1 {
  align-self: flex-start;
}
.container-8 .item-2 {
  align-self: center;
}
.container-8 .item-3 {
  align-self: flex-end;
}

.container-9 {
  margin-top: 10px;
  height: 300px;
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.container-9 div {
  background-color: rgb(165, 42, 42);
  font-size: 40px;
  text-align: center;
}

.container-9 .item-1 {
  flex-grow: 1;
}
.container-9 .item-2 {
  flex-grow: 2;
}
.container-9 .item-3 {
  flex-grow: 3;
}

.container-10 {
  margin-top: 10px;
  height: 300px;
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.container-10 div {
  background-color: rgb(64, 3, 117);
  font-size: 40px;
  text-align: center;
}

.container-10 .item-1 {
  flex-grow: 1;
}
.container-10 .item-2 {
  flex-shrink: 2;
}
.container-10 .item-3 {
  flex-grow: 3;
}
