$colorVerdeI: #1b462f;
$colorVerdeII: #5d6a3a;
$colorVerdeIII: #add3a1;
$colorVerdeIV: #ade360;

$colorGrisI: #62685c;
$colorGrisII: #888f86;
$colorGrisIII: #dadadc;
$colorGrisIV: #f5f5f5;

$colorBeige: #c9b099;

$colorBlanco: #ffffff;

$colorNegro: #000000;
