@import "./function";

$colorDeFondo: #0b3c49;

$colorPrimario: #210124;
$colorSecundario: #0e9594;
$colorTerciario: #750d37;
$colorCuaternario: #E56B70;

$colorDeTexto: #fffdfd;

$paddingGlobal: cambioEm(20px);
